*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Arial', sans-serif;
    background-color: #4781ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

body {
    background-color: #ffffff;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 8px 20px rgb(170, 149, 218);
}

h1 {
    color: #333333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input.crear-btn {
    background-color: #3498db;
    color: #ffffff;
}

input.iniciar-btn {
    background-color: #2ecc71;
    color: #ffffff;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
a {
    text-decoration: none;
    color: #5d81e6;
    margin-top: 10px;
    display: inline-block;
}
input[type="submit"]:hover {
    background-color: #999ea1;
}